/* Webfont: UpsideDown-Outline */@font-face {
    font-family: 'UpsideDownOutline';
    src: url('Upside Down - Outline.eot'); /* IE9 Compat Modes */
    src: url('Upside Down - Outline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Upside Down - Outline.woff') format('woff'), /* Modern Browsers */
         url('Upside Down - Outline.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

