/* Webfont: Acure-Thin */@font-face {
    font-family: 'AcureThin';
    src: url('Acure Thin.eot'); /* IE9 Compat Modes */
    src: url('Acure Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Acure Thin.woff') format('woff'), /* Modern Browsers */
         url('Acure Thin.woff2') format('woff2'), /* Modern Browsers */
         url('Acure Thin.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

