*/__pycache__*
*__pycache__
*.pyc
*.env
schemas/*
!schemas/typebox_schemas_latest.json
.DS_Store
test_output/
services/debug_json_parse.txt
.venv/
venv/
.venv311/
*.bak
*.backup
**/venv/
**/.venv/
path/
