/* Webfont: UpsideDown-Regular */@font-face {
    font-family: 'UpsideDown';
    src: url('Upside Down - Regular.eot'); /* IE9 Compat Modes */
    src: url('Upside Down - Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Upside Down - Regular.woff') format('woff'), /* Modern Browsers */
         url('Upside Down - Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

